.carousel_inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel_inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel_item.active,
.carousel_item-next,
.carousel_item-prev {
  display: block;
}

.carousel_item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel_item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.card_box {
  background: linear-gradient(rgba(250, 184, 34, 0.8), rgba(0, 0, 0, 0.3)),
    url("../../../pics/Testcard1.jpg");
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
}

.carousel_caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

/* .sliderimage {

} */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.card_box:hover {
  background: linear-gradient(rgba(250, 184, 34, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../pics/Testcard1.jpg");
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
}

.card_boxhover {
  background: linear-gradient(rgba(250, 184, 34, 0.8), rgba(0, 0, 0, 0.3));
}

.card_boxhover:hover {
  background: linear-gradient(rgba(250, 184, 34, 0.3), rgba(0, 0, 0, 0.3));
}

.carousel_control_prev:hover,
.carousel_control_prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel_control_prev_icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

@media (min-width: 1200px) {
  .display_4 {
    font-size: 3.5rem;
  }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col {
  flex: 1 0 0%;
}

.row .col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.text_uppercase {
  text-transform: uppercase !important;
}

@media (min-width: 1200px) {
  .justify_content_xl_center {
    justify-content: center !important;
  }
}

@media (min-width: 1200px) {
  .d_xl_flex {
    display: flex !important;
  }
}

.card_box .inner {
  padding: 5px 10px 0 10px;
}

.card_box:hover .card_box_footer {
  background: rgba(0, 0, 0, 0.3);
}

.card_box .card_box_footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.rowRecords {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
