@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background: #001c33;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.text-start {
  text-align: left !important;
}

@media (min-width: 1400px) {
  .d-xxl-flex {
    display: flex !important;
  }
}
#mainNav {
  background-color: #001c33;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #e5bc31;
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

a:hover {
  color: #fec503;
  text-decoration: none;
  cursor: pointer;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  line-height: 1;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

.text-uppercase {
  text-transform: uppercase !important;
}

.ms-auto {
  margin-left: auto !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.rounded-circle {
  border-radius: 50% !important;
}

.nav-link2 {
  padding-right: 20px;
  color: #fff;
  padding: 15px;
  margin-right: 7px;
  scroll-behavior: smooth !important;
}
.nav-link2:hover {
  color: #fec503;
}

.navbar-brand {
  margin-left: -40px;
}

#name {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#name:hover {
  color: #fec503;
  text-decoration: none;
  cursor: pointer;
}
